#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom right, #0b0e14, #101522, #07080d);
  color: #ffffff;
}
a{
  list-style: none;
  text-decoration: none;
  color: inherit;
}